/* Center the login container */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

/* Style the login box */
.login-box {
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;

    /* Style the input fields */
    input {
        width: 95%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    /* Style the login button */
    button {
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }

    button:hover {
        background-color: #0056b3;
    }
}

/* Error message styling */
.error-message {
    color: red;
    margin: 10px 0px;
}
